:host {
  border: 2px solid dimgray;
  display: block;
  padding: 20px;
  background-color: white;
}

.router {
  border: 1px solid dimgray;
  display: block;
  padding: 20px;
  background-color: gray;
}
